@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$tablet: 999px;
$mobile: 599px;

:root {
	// --keyColor: royalblue;
	--keyRGB: 3, 58, 23;
}
//rgba(var(--keyRGB),0.5);
//rgba(var(40,40,40,0.5);

//black: 40,40,40;
//hotpink: 184, 0, 190;
//blue: 0, 120, 150;
//green: 3, 58, 23;

.mask {
	background-color: rgba(var(--keyRGB), 1) !important;
}
.maskText {
	color: rgba(var(--keyRGB), 0.8) !important;
}
.test {
	background: rgb(3, 58, 23);
}

//common
@import './common/reset';
@import './common/header';
@import './common/footer';
@import './common/layout';
@import './common/modal';
@import './common/mailForm';
@import './common/map';
@import './common/mobileMenu';

//main
@import './main/home';
@import './main/visual';

//sub
@import './sub/members';
@import './sub/youtube';
@import './sub/youtubeDetail';
@import './sub/gallery';